<div class="iapp-project-info-wrap">
    <h1 class="iapp-page-header"><%= header %></h1>
    <p class="iapp-page-chatter"><%= chatter %> </p>
    <p class="iapp-page-chatter iapp-dark-blue">Last updated on: <%=updated_at %></p>
    <div class="iapp-share-wrap"></div>
     
</div>
<div class="no-results-wrap">
    <div class='no-results-message alert alert-danger'><strong>No results!</strong> Try searching for another guest.</div>
</div>
<div class="iapp-menu"></div>
<div id="card-wrap" class="iapp-card-wrap"></div>
<div class="iapp-credits-wrap">
    <p class="iapp-page-credits"><strong>Credits: </strong><%= credits %></p>
</div>



<div class="iapp-end-modal-wrap"></div>

