
      <div class="card card-detail">
      
        <div class="iapp-detail-image-wrap">
        <% if (person.photo !== "") { %>
            <img class="iapp-detail-image" src="http://www.gannett-cdn.com/experiments/usatoday/2015/11/paris-victims/img/victims/<%=person.photo%>" alt="<%=person.name%>">
        <% } %>
        </div>
      
        <div class="close-card">
            <img class="iapp-close-card-inner" src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/close-icon.svg">
            
            </img>
        </div>
      
      
      
        <div class="iapp-detail-info">
            <% if (person.photo !== "") { %>
              <p class="iapp-card-back-photo-credit">Photo: <%= person.photo_source %></p>
            <% } %>
            <% if (person.place) {%>
              <span class="label label-default"><%= person.place %></span>
            <% }%>
            <h2 class="card-back-header">
              <%= person.name %><% if (person.age) {%>, <%= person.age %><% }%>
            </h2>
            
            
            <% if (person.nationality) {%>
              <p class="iapp-card-info-text"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/11/paris-victims/img/flags/<% print(person.nationality.replace(" ", "")) %>.png" alt="nationality flag" class="iapp-detail-flag-icon"><%= person.nationality %></p>
            <% }%>
            <p class="iapp-summary"><%=person.bio%></p>
        </div>
      
      
      </div>
      <% if (showNext) { %>
      <div class="iapp-next-detail iapp-detail-nav">
        <img class="" src="http://www.gannett-cdn.com/experiments/usatoday/2015/11/paris-victims/img/right-arrow.png">
        Next
      </div>
      <% } %>
      <% if (showPrevious) { %>
      <div class="iapp-previous-detail iapp-detail-nav">
        <img class="" src="http://www.gannett-cdn.com/experiments/usatoday/2015/11/paris-victims/img/left-arrow.png">
        Previous</div>
      <% } %>
      
        <div class="iapp-detail-bg"></div> 

