
      <div class="card card-detail">
      
        <div class="iapp-detail-image-wrap">
        <% if (person.photo !== "") { %>
            <img src="<%=person.photo%>" alt="<%=person.name%>">
        <% } %>
        </div>
      
        <div class="close-card">
            <img class="iapp-close-card-inner" src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/red-carpet/img/close-icon.svg">
            
            </img>
        </div>
      
      
      
        <div class="iapp-detail-info">
            <h2 class="card-back-header"><%= person.name %> </h2>
            <p class="iapp-summary"><%=person.bio%></p>
        </div>
      
      
      </div>
      <% if (showNext) { %>
      <div class="iapp-next-detail iapp-detail-nav">
        <img class="" src="http://www.gannett-cdn.com/experiments/usatoday/2015/11/paris-victims/img/right-arrow.png">
        Next
      </div>
      <% } %>
      <% if (showPrevious) { %>
      <div class="iapp-previous-detail iapp-detail-nav">
        <img class="" src="http://www.gannett-cdn.com/experiments/usatoday/2015/11/paris-victims/img/left-arrow.png">
        Back</div>
      <% } %>
      
        <div class="iapp-detail-bg"></div> 

